tmp
bin
build
*.class
*.merge-left*
*.merge-right*
*.mine
*.prej
*.pyc
*.pyo
*.working
.svn
_svn
svn-commit*.tmp
acktie mobile qr ios.xcodeproj/project.xcworkspace
acktie mobile qr ios.xcodeproj/xcuserdata
.DS_Store
